body{
    background-color: lavender;
}
h1{
    color: darkred;
    text-decoration: underline;
}


header, footer {
    background: #f0f0f0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f0f0f0;
    padding: 15px 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.logo {
    font-weight: bold;
    font-size: 50px; 
    max-height: 50px; 
    width: auto;
    border-radius: 100px;
}

main {
    padding: 20px;
    min-height: 300px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

.product-card img {
    width: 200px; 
    height: 150px;
    object-fit: cover;
}

.logo-link {
    margin-right: 10px;
}
